html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

#interface {
    /*width: 100%;*/
    /*overflow: hidden;*/
}

.draggable {
    /*cursor: move;*/
    position: absolute;
}


.border {
    border: 2px dashed blue;
}

.resize-transition {
    border: 1px dashed grey;
}

.selected {
    border: 1px dashed blue;
}

.bg-grid {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.1) 1px, transparent 1px);
}

.clickable {
    cursor: pointer;
}