<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hypergraph Visualizations</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand" href="#">Hypergraph Visualization</a>
</nav>

<div class="container-fluid wrapper h-100">
    <div class="row p-2 bg-secondary">
        <div class="col-md-3 text-center">
            <form id="import-form" action="/dataset" method="POST" enctype="multipart/form-data">
                <input type="file" id="dataset-file" name="file" hidden/>
                <input id='dataset-btn' type="button" value="Import dataset" class="w-75 btn btn-light m-1"/>
                <input type="submit" id="'dataset-submit" hidden/>
            </form>
        </div>
        <div class="col-md-9 text-center">
            <button id="add-edge-modality" class="btn btn-light m-1">Add edge modality</button>
            <button id="add-vertex-modality" class="btn btn-light m-1">Add vertex modality</button>
            <button id="get-graph-data" class="btn btn-light m-1">Get graph data</button>
        </div>
    </div>
    <div class="row h-100">
        <div id="io-panel" class="col-md-3 bg-light text-center p-2" hidden>
            <div id="input_viz"><p>Input</p></div>
            <hr/>
            <div id="output_viz"><p>Output</p></div>
        </div>
        <div id="interface" class="col-md-12 p-0 bg-grid">
            <div class="accordion" id="modality-holder"></div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/ui-builder.js"></script>
</html>