* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h4 {
    color:rgb(51,54,57);
    font-size:18px;
    text-align:center;
    font-weight: bold;
}

.barcode-rect-dim0 {
    /* fill: #7bc6d6; */
    fill: #87c8ea;
    stroke: grey;
}

.barcode-rect-dim1 {
    fill: #8aa9c7;
}

.slider {
    fill: azure;
    stroke: grey;
}

.hover-darken {
    opacity: 1;
}

.hover-darken:hover {
    opacity: 0.5;
}

.barcode-highlighted {
    fill:#90E2F0;
    opacity: 0.8;
}

.hover-light {
    fill: #F09E90;
    /* fill: lightgrey; */
    opacity: 0.6;
}

.unclickable {
    opacity: 0.3;
}

.line_node {
    /* stroke: whitesmoke; */
    /* stroke-width: 4px; */
    opacity: 1;
}

.line_node.faded {
    opacity: 0;
}

.vertex-container {
    stroke: black;
    stroke-width: 2px;
}

.line_node.highlighted {
    opacity: 0.5;
}



.line_edge {
    stroke: #999;
    stroke-opacity: 0.5;
}

.line_edge.highlighted {
    stroke-opacity: 0.9;
}

.hyper_edge {
    stroke: #999;
    /* stroke: black; */
    stroke-opacity: 0.5;
    /* stroke-opacity: 1; */
}

.hyper_node {
    /* stroke: #fff;
    stroke-width: 2px; */
    stroke: lightgrey;
    stroke-width: 4px;
    opacity: 1;
}

.vertex_node {
    /* stroke: lightgrey; */
    stroke-width: 2px;
    opacity: 1px;
}

.vertex_node-container {
    fill: white;
    stroke: black;
    stroke-width: 2.5px;
}

text.faded {
    opacity: 0.1;
}

circle.faded {
    opacity: 0.1;
}

line.faded {
    opacity: 0.1;
}

.clicked {
    stroke: gold;
    stroke-width: 6px;
}

/* .pie-group.faded {
    opacity: 0.1;
} */

g.faded {
    opacity: 0.1;
}

g.highlighted {
    opacity: 0.5;
}

/* .pie-group.highlighted {
    opacity: 0.5;
} */

circle.grey_out {
    fill: grey;
    opacity: 0.2;
}

.filtering {
    opacity: 0;
}

.convex_hull {
    opacity: 0.5;
    stroke-width: 40px;
    stroke-linejoin: round;
}

path.faded {
    opacity: 0.1;
}

path.highlighted {
    opacity: 1;
}

.vertex_node.highlighted {
    /* opacity: 0.5; */
    fill: whitesmoke;
}

.vertex_node-container.highlighted {
    /* opacity: 0.5; */
    stroke: whitesmoke;
    fill: whitesmoke;
}

path.grey_out {
    stroke: lightgrey;
    fill: lightgrey;
    opacity: 0.2;
}

path.filtering {
    opacity: 0;
}

.node-label {
    fill: #2b2b2b;
    opacity: 0.5;
    background: #f0ffff;
    font-size: 9px;
}

.ui-form-button {
    border-radius: 3px;
    overflow: hidden;
    height:25px;
    line-height: 0px;
    font-size:12px;
    /* border: 1px solid rgb(110,123,196); */
    /* color: rgb(110,123,196); */
  }

/* Radio */
.ui-form-range {
    padding-top: 10px;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: rgb(51,54,57);
     top: 3px;
     height: 15px;
     width: 15px;
     border: 1px solid rgb(51,54,57);
     border-radius: 25px;
     cursor: pointer;     
     margin-right: 3px;
     outline: none;
}

.form-radio:checked::before
{
     position: absolute;
     font: 12px/1 'Open Sans', sans-serif;
     left: 3px;
     top: 0px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
  background-color: #f7f7f7;
}
.form-radio:checked
{
  background-color: #f1f1f1;
}

/* Slider */
.ui-form-range__label{
    display: inline-block;
    float: left;
    font-size: 14px;
}

.ui-form-range__value{
    font-size: 12px;
    display: inline-block;
    float: right;
    padding: 3px 5px;
    background-color: #e1e1e1;
    border-radius: 3px;
    width: 3em;
    text-align: center;
}

.ui-form-range__input {
    -webkit-appearance: none;
    width: 95%;
    height: 6px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .ui-form-range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    border: 1px solid black;
    /* background: #4CAF50; */
    background: whitesmoke;
    cursor: pointer;
  }
  
  .ui-form-range__input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background: #4CAF50; */
    background: #d3d3d3;
    cursor: pointer;
  }

/* Select Menu */
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    width: 80%;
    height: 30px;
    /* font-family: Arial; */
}
  
.custom-select select {
    display: none; /*hide original SELECT element: */
}
  
.select-selected {
    background-color: #4CAF50;
}

  /* Tooltip */
.help-tip {	
    opacity: 0;
    position: relative;			
    text-align: center;			
    max-height: 180px;					
    margin-top: 10px;	
    padding-top: 10px;
    padding-bottom: 10px;				
    font: 14px sans-serif;		
    background-color: #fff;
    border: 1px solid rgb(224,224,224);
    border-radius: 3px;			
    overflow: scroll;		
}

div.help-tip.show {
    opacity: 0.9;
    transition: 0.2s ease-out;
}

h6 {
    font-family: sans-serif;
    font-weight: bold;
}

#history-button {
    /* font-size: 10px; */
}

/* checkbox */

.customCheckBox[type="checkbox"]:after{
    position: relative;
    display: block;
    /* left: 2px; */
    /* top: -11px; */
    width: 5px;
    height: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #B3B3B3;
    content: "";
    background-repeat: no-repeat;
    background-position:center;
}

.customCheckBox[type="checkbox"]:before{
    /* border: 1px solid #808080; */
    content: "";
    background: #FFF;
    position: relative;
    display: block;
    width: 12px;
    height: 12px;

    /* position: absolute;
     font: 12px/1 'Open Sans', sans-serif;
     left: 3px;
     top: 0px;
     content: '\02143';
     transform: rotate(40deg); */
    
}
.customCheckBox[type="checkbox"]:checked:after{
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');
}
/* Large checkboxes */
.customCheckBox{
    height:11px;
    width: 11px;
}

.customCheckBox[type="checkbox"]:before{
    width: 20px;
    height: 20px;
}
.customCheckBox[type="checkbox"]:after{
    top: -22px;
    width: 14px;
    height: 14px;
}

/* Toggle Switch */
.toggle-group {
    padding-right:10px;
    padding-top:3px;
    /* height: 25%; */
}

.toggle-label {
    display: inline-block;
    position:relative;
    padding-right:5px;
    font-size:12px;
    text-align: left;
    vertical-align: top;
    padding-top:6px;
}

.onoffswitch {
    display: inline-block;
    /* width:40%; */
    height:100%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    padding-top:5px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 34px; width: 40px; height:20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 22px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 8px;
    /* background-color: rgb(110,123,196);  */
    background-color: rgb(170,209,245);
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 6px;
    /* background-color: #ccc;  */
    background-color: rgb(249, 167, 167);
    color: rgb(58, 58, 58);
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; height: 14px; margin: 2.5px;
    background: #FFFFFF;
    position: relative; top: 0; bottom: 0;
    right: -1px;
    border-radius: 34px;
    transition: all 0.3s ease-in 0s; 
    /* z-index:999; */
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -21px; 
}
