.barcode-rect-dim0 {
    fill: #7bc6d6;
    stroke: grey;
}

.barcode-rect-dim1 {
    fill: #8aa9c7;
}

.slider {
    fill: azure;
    stroke: grey;
}

.hover-darken {
    opacity: 1;
    /* transition: all 0.1s ease; */
}

.hover-darken:hover {
    opacity: 0.5;
    /*transition: 0.3s ease all;*/
}

.node-label {
    fill: #2b2b2b;
    opacity: 0.5;
    background: #f0ffff;
    font-size: 9px;
}

.ui-form-button {
    border-radius: 3px;
    overflow: hidden;
    height:30px;
    line-height: 0px;
    font-size:12px;
  }

/* Radio */
.ui-form-range {
    padding-top: 10px;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: rgb(51,54,57);
     top: 7px;
     height: 20px;
     width: 20px;
     border: 1px solid rgb(51,54,57);
     border-radius: 25px;
     cursor: pointer;     
     margin-right: 3px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 12px/1 'Open Sans', sans-serif;
     left: 5px;
     top: 1px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
  background-color: #f7f7f7;
}
.form-radio:checked
{
  background-color: #f1f1f1;
}

/* Slider */
.ui-form-range__label{
    display: inline-block;
    float: left;
    font-size: 14px;
}

.ui-form-range__value{
    font-size: 12px;
    display: inline-block;
    float: right;
    padding: 3px 5px;
    background-color: #e1e1e1;
    border-radius: 3px;
    width: 3em;
    text-align: center;
}

.ui-form-range__input {
    -webkit-appearance: none;
    width: 95%;
    height: 6px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .ui-form-range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .ui-form-range__input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
