<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hypergraph Visualization</title>

    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body>
<div class="outline">
    <h4>
        Hypergraph Visualization
    </h4>
</div>


<div class="container-fluid">
    <div class="row">
        <div id="barcode-area" class="col-sm-2 outline" >
            Barcode
            <div id="vis-barcode" class="svg-container">
                <svg id="barcode-svg"></svg>
            </div>
        </div>
        <div id="vis-area" class="col-sm-8">
            <div class="row">
                <div class="col-md-6 outline">
                    Hypergraph
                    <div id='vis-hypergraph' class="svg-container">
                        <svg id="hypergraph-svg"></svg>
                    </div>
                </div>
                
                <div class="col-md-6 outline">
                    Line graph
                    <div id='vis-linegraph' class="svg-container">
                        <svg id="linegraph-svg"></svg>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 outline">
                    Simplified Line graph
                    <div id='vis-simplified-linegraph' class="svg-container">
                        <svg id="simplified-linegraph-svg"></svg>
                    </div>
                </div>
                <div class="col-md-6 outline">
                    Simplified hypergraph
                    <div id='vis-simplified-hypergraph' class="svg-container">
                        <svg id="simplified-hypergraph-svg"></svg>
                    </div>
                </div>
                
                            
            </div>
                
        
                
        </div>
        <div id="control-area" class="col-sm-2">
            <h6>Control Panel</h6>
            <!-- <div>
                Import a dataset
            </div> -->
            <br>
            <div id="files_group">
                <div class="import-group">
                    <form method="post" id="upload" enctype="multipart/form-data" action="" >
                        <input type="file" style="display:none" id="files" name="files">
                        <input type="button" class="btn btn-outline-primary" id="import" value="Import A Dataset">
                    </form>
                </div>
            </div>
            <br>
            <div style="padding-bottom: 20px;">
                    <input type="checkbox" id="hgraph-labels">Show labels</input>

            </div>
            <div>
            Hypergraph Visual Encoding
            <div class="visual-encoding-group" style="padding-top:15px; padding-left:5px;">
                <form id="visual-encoding-form">
                    <div style="padding-left:0px; padding-right:15px">
                        <input type="radio" class="form-radio" name="visual-type" value="bipartite" id="bipartite">
                        <label for="bipartite" class="radio_label">Bipartite Graph</label>
                    </div>
                    <div style="padding-left:0px; padding-right:0px;">
                        <input type="radio" class="form-radio" name="visual-type" value="convex" id="convex" checked="checked">
                        <label for="convex" class="radio_label">Convex Hulls</label>
                    </div>
                </form>
            </div>
            </div>

        </div>

    </div>
    

   
</div>
<!-- 
<script type="text/javascript" src="js/draw_barcode.js"></script>
<script type="text/javascript" src="js/draw_hypergraph.js"></script>
<script type="text/javascript" src="js/draw_linegraph.js"></script>
<script type="text/javascript">
    window.onload = function () {
        draw_barcode();
        draw_hypergraph();
        toggle_hgraph_labels();
        draw_linegraph();
    };
</script> -->
</body>
</html>