<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hypergraph Visualization</title>

    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body scroll="no" style="overflow: hidden">
<div class="header-group">
    <div id="main_title">
        <!-- <h4>Hypergraph Visualization:</h4> -->
        <!-- <h4>Multimodal Curation and Multiscale Simplification</h4> -->
        <h4>Topological Simplifications of Hypergraphs</h4>
    </div>
    <div id="files_group">
        <div class="row">
            <div class="import-group col-3" style="padding-right:0px;">
                <form method="post" id="upload" enctype="multipart/form-data" action="" >
                    <input type="file" style="display:none" id="files" name="files">
                    <input type="button" class="btn btn-outline-dark ui-form-button" id="import" value="Import A Dataset">
                </form>
            </div>
            <div class="export-group col-7">
                <div class="row">
                    <div class="col-4" style="padding-right:0px;">
                        <input class="form-control" type="text" placeholder="Output file name" id="exFilename">
                    </div>
                    <div class="col-4" style="padding-left:5px;">
                        <input style="position: relative; top:0px" type="button" class="btn btn-outline-dark ui-form-button" id="export" value="Export An Output">
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="barcode-area" class="col-sm-2 barcode-container" >
            <div class="group-title">Barcode</div>
            <div id="barcode-threshold">
                Current threshold: 0
            </div>
            <div id="vis-barcode" class="svg-container" style="overflow: scroll">
                <svg id="barcode-svg"></svg>
                <!-- <svg id="merge-tree-svg"></svg> -->
            </div>
            <div id="merge-tree-label">
                <!-- Barcode Merge Tree -->
                Dendrogram
            </div>
            <div id="vis-barcode2" class="svg-container" style="overflow: scroll">
                <!-- <svg id="barcode-svg"></svg> -->
                <svg id="merge-tree-svg"></svg>
            </div>
            <!-- <div id="history-button-container" class="row">
                <div class="col-5">
                    <input type="button" class="btn btn-outline-dark ui-form-button" id="history-button" value="Save Threshold">
                </div>
                <div class="col-5">
                    <input type="button" class="btn btn-outline-dark ui-form-button" id="history-button" value="Save Threshold">
                </div>
                
            </div> -->
            
            <!-- <div class="block" id="history-container" style="margin-top:10px;">
                <div class="block_title2 collapsed">Threshold History</div>
                <div class="block-body"></div>
            </div> -->
            <div class="custom-select-container">
                <select name="info_selection" class="custom-select" id="info_selection">
                    <option>Selected Hyperedges/Vertices</option>
                    <!-- <option>Threshold History</option> -->
                    <!-- <option>Barcode Merge Tree</option> -->
                    <option>Persistence Graph</option>
                </select>
            </div>
            <div class="custom-select-container" id="info_drawing_container">
                <div id="info_drawing">
                    <div class="help-tip" id="help-tip">
                        <h6>Selected Hyperedges</h6>
                    </div>
                </div>
            </div>


            
            <!-- <div class="block" id="persistence-graph-container" style="margin-top:5px;">
                <div class="block_title2 collapsed">Persistence Graph</div>
                <div class="block-body"></div>
            </div>
            <div class="block" id="barcode-merge-tree-container" style="margin-top:5px;">
                <div class="block_title2 collapsed">Barcode Merge Tree</div>
                <div class="block-body"></div>
            </div>
            <div class="block" id="selected-elements-container" style="margin-top:5px;">
                <div class="block_title2 collapsed">Selected Hyperedges/Vertices</div>
                <div class="block-body"></div>
            </div> -->
            
        </div>
        <div id="vis-area" class="col-sm-8" style="padding-bottom:3px;">
            <div class="row">
                <div class="col-md-6 outline">
                    <div class="graph-title">Input hypergraph</div>
                    <div style="border-right: 1px solid rgb(224,224,224);">
                        <div id='vis-hypergraph' class="graph-container">
                            <svg id="hypergraph-svg"></svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 outline">
                    <div class="graph-title" id="vis-linegraph-title">Line graph</div>
                    <div id='vis-linegraph' class="graph-container">
                        <svg id="linegraph-svg"></svg>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 outline">
                    <div class="graph-title">Output simplified hypergraph</div>
                    <div style="border-right: 1px solid rgb(224,224,224);">
                        <div id='vis-simplified-hypergraph' class="graph-container">
                            <svg id="simplified-hypergraph-svg"></svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 outline">
                    <div class="graph-title" id="vis-simplified-linegraph-title">Simplified line graph</div>
                    <div id='vis-simplified-linegraph' class="graph-container">
                        <svg id="simplified-linegraph-svg"></svg>
                    </div>
                </div>        
            </div>
        </div>
        <div id="control-area" class="col-sm-2 control-container">
            <div id="visual-encoding-control" class="block" style="margin-bottom: 10px;">
                <div class="block_title">Visual Encoding Control</div>
                <div class="block_body" style="max-height: 1000px">
                    <div class="block_body-inner">
                        <div class="block-inner-group">
                            <div class="row">
                                <div class="col-6">
                                    <label style="padding-top:6px">Color scheme</label>
                                </div>
                                <div class="col-6" id="color-scheme-dropdown-container" style="padding-bottom:3px">
                                    <select class="custom-select"  name="color-scheme-dropdown" id="color-scheme-dropdown">
                                        <option value="top5">Top 5</option>
                                        <option value="all">Color all</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="block-inner-group">
                            <div class="row">
                                <div class="col-6">
                                    <label style="padding-top:6px">Visual encoding</label>
                                </div>
                                <div class="col-6" id="set-vis-dropdown-container" style="padding-bottom:3px">
                                    <select class="custom-select"  name="set-vis-dropdown" id="set-vis-dropdown">
                                        <option value="graph">Graph-based</option>
                                        <option value="matrix">Matrix-based</option>
                                        <option value="bubblesets">Bubble sets</option>
                                      </select>
                                </div>
                            </div>
                            <!-- <div class="toggle-group">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="visual-encoding-switch" checked>
                                    <label class="onoffswitch-label" for="visual-encoding-switch">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                <div class="toggle-label" id="visual-encoding-switch-label"> Graph encoding </div>
                            </div> -->
                        </div>
                        <div class="block-inner-group">
                            <div class="row">
                                <div class="col-6">
                                    <label style="padding-top:6px">Vertex shape</label>
                                </div>
                                <div class="col-6" id="vertex-shape-dropdown-container" style="padding-bottom:3px">
                                    <select class="custom-select"  name="vertex-shape-dropdown" id="vertex-shape-dropdown">
                                        <option value="circle">Circle</option>
                                        <option value="rect">Square</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="block-inner-group">
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" id="hgraph-labels" class="customCheckBox"> 
                                    </div>
                                    <div class="col-10">
                                        <label>Show <a class="group-title">labels</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" id="hide-hyperedge-node" class="customCheckBox">
                                    </div>
                                    <div class="col-10">
                                        <label>Hide hyperedge nodes</label>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="block-inner-group">
                            <div class="group-title">Hypergraph visualization</div>
                            <div class="row" style="padding-top: 5px;">
                                <div class="col-6" style="padding-right: 0px; border-right:dotted 2px rgb(224,224,224);">
                                    <form id="visual-encoding-form">
                                        <div class="radio-container row">
                                            <div class="col-2">
                                                <input type="radio" class="form-radio inline" name="visual-type" value="bipartite" id="bipartite">
                                            </div>
                                            <div class="col-9">
                                                <label for="bipartite" class="radio_label">
                                                    Bipartite graph
                                                </label>
                                            </div>
                                        </div>
                                        <div class="radio-container row">
                                            <div class="col-2">
                                                <input type="radio" class="form-radio inline" name="visual-type" value="convex" id="convex" checked="checked">
                                            </div>
                                            <div class="col-9">
                                                <label for="convex" class="radio_label">Convex hulls</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6" style=" padding-left: 5px; padding-right: 2px;">
                                    <div class="row">
                                        <div class="col-1" >
                                            <input type="checkbox" id="hyperedge-glyph" class="customCheckBox" checked="true">
                                        </div> 
                                        <div class="col-9" style="padding-left: 10px;">
                                            <label>Hyperedge glyph</label> 
                                        </div>                               
                                    </div>
                                    <div class="row">
                                        <div class="col-1" >
                                            <input type="checkbox" id="vertex-glyph" class="customCheckBox">
                                        </div> 
                                        <div class="col-9" style="padding-left: 10px;">
                                            <label>Vertex glyph</label>
                                        </div>                               
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-inner-group" style="border-bottom: none;">
                            <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="revert_graph" value="Revert Graphs" style="height:20px;">                                         
                        </div>
                    </div>
                </div>
            </div>
            <div id="parameter-control" class="block">
                <div class="block_title">Parameter Control</div>
                <div class="block_body" style="max-height: 1000px">
                    <div class="block_body-inner">
                        <div class="block-inner-group">
                            <!-- <div class="group-title">Collapse vertices & hyperedges</div> -->
                            <div class="row">
                                <div class="col-1">
                                    <input type="checkbox" id="collapse-input" class="customCheckBox" checked="true">
                                </div> 
                                <div class="col-10">
                                    <!-- Input graphs -->
                                    <a class="group-title">Collapse</a> vertices & hyperedges
                                </div>                               
                            </div>
                            <!-- <div class="row">
                                <div class="col-1">
                                    <input type="checkbox" id="collapse-output" checked="true">
                                </div> 
                                <div class="col-10">
                                    Output graphs
                                </div>                               
                            </div> -->
                        </div>
                        <div class="block-inner-group">
                            <div class="group-title">Graph representation</div>
                            <form id="variant-type-form">
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="variant-type" value="line_graph" id="line_graph" checked="checked">
                                    <label for="line_graph" class="radio_label">Edge simplification</label>
                                </div>
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="variant-type" value="clique_expansion" id="clique_expansion">
                                    <label for="clique_expansion" class="radio_label">Vertex simplification</label>
                                </div>
                            </form>
                        </div>
                        <div class="block-inner-group">
                            <div class="group-title" id="s-group-title">
                                Edge threshold
                            </div>
                            <div class="ui-form-range">
                                <label class="ui-form-range__label">s</label>
                                <span class="ui-form-range__value" id="s-walk_label">1</span>
                                <div id="s-range-container">
                                    <div id="s-range-container-inner" style="padding:0px;">
                                      <span id="s-range-span"><input type="number" id="s-range" min="1" value="10"></span>
                                    </div>    
                                </div>
                                <input class="ui-form-range__input" id="s-walk_input" name="s-walk" type="range" value="1" max="10" min="1" step="1">
                            </div>
                            <br>
                            <form id="singleton-type-form">
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="singleton-type" value="grey_out" id="grey_out" checked="checked">
                                    <label for="grey_out" class="radio_label">Grey out singletons</label>
                                </div>
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="singleton-type" value="filtering" id="filtering">
                                    <label for="filtering" class="radio_label">Filter singletons</label>
                                </div>
                            </form>
                        </div>
                        <div class="block-inner-group" >
                            <div class="group-title">Weight type</div>
                            <form id="weight-type-form">
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="weight-type" value="jaccard_index" id="jaccard_index" checked="checked">
                                    <label for="jaccard_index" class="radio_label">Jaccard index</label>
                                </div>
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="weight-type" value="intersection_size" id="intersection_size">
                                    <label for="weight" class="radio_label">Overlap size</label>
                                </div>
                            </form>
                        </div>
                        <div class="button-container">
                            <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="graph_loader" value="Compute Barcode">
                            <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="reset_config" value="Reset Configuration">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- 
<script type="text/javascript" src="js/draw_barcode.js"></script>
<script type="text/javascript" src="js/draw_hypergraph.js"></script>
<script type="text/javascript" src="js/draw_linegraph.js"></script>
<script type="text/javascript">
    window.onload = function () {
        draw_barcode();
        draw_hypergraph();
        toggle_hgraph_labels();
        draw_linegraph();
    };
</script> -->
</body>
</html>