<div id=modality-container{{ modal_index }} class="container-fluid">
    <div class="row">
        <div id="barcode-area{{ modal_index }}" class="col-sm-2 barcode-container" >
            <div class="group-title">Barcode</div>
            <div id="barcode-threshold{{ modal_index }}">
                Current threshold: 0
            </div>
            <div id="vis-barcode{{ modal_index }}" class="svg-container" style="overflow: scroll">
                <svg id="barcode-svg{{ modal_index }}"></svg>
            </div>
            <div class="block" id="persistence-graph-container{{ modal_index }}" style="margin-top:5px;">
                <div class="block_title2 collapsed">Persistence Graph</div>
                <div class="block-body"></div>
            </div>
            <div class="block" id="barcode-merge-tree-container{{ modal_index }}" style="margin-top:5px;">
                <div class="block_title2 collapsed">Barcode Merge Tree</div>
                <div class="block-body"></div>
            </div>
            <div class="block" id="selected-elements-container{{ modal_index }}" style="margin-top:5px;">
                <div class="block_title2 collapsed">Selected Hyperedges/Vertices</div>
                <div class="block-body"></div>
            </div>

        </div>
        <div id="vis-area{{ modal_index }}" class="col-sm-8" style="padding-bottom:3px;">
            <div class="row">
                <div class="col-md-6 outline">
                    <div class="graph-title">Input hypergraph</div>
                    <div style="border-right: 1px solid rgb(224,224,224);">
                        <div id='vis-hypergraph{{ modal_index }}' class="graph-container">
                            <svg id="hypergraph-svg{{ modal_index }}"></svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 outline">
                    <div class="graph-title" id="vis-linegraph-title{{ modal_index }}">Line graph</div>
                    <div id='vis-linegraph{{ modal_index }}' class="graph-container">
                        <svg id="linegraph-svg{{ modal_index }}"></svg>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 outline">
                    <div class="graph-title">Output simplified hypergraph</div>
                    <div style="border-right: 1px solid rgb(224,224,224);">
                        <div id='vis-simplified-hypergraph{{ modal_index }}' class="graph-container">
                            <svg id="simplified-hypergraph-svg{{ modal_index }}"></svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 outline">
                    <div class="graph-title" id="vis-simplified-linegraph-title{{ modal_index }}">Simplified line graph</div>
                    <div id='vis-simplified-linegraph{{ modal_index }}' class="graph-container">
                        <svg id="simplified-linegraph-svg{{ modal_index }}"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div id="control-area{{ modal_index }}" class="col-sm-2 control-container">
            <div id="visual-encoding-control{{ modal_index }}" class="block" style="margin-bottom: 10px;">
                <div class="block_title">Visual Encoding Control</div>
                <div class="block_body" style="max-height: 1000px">
                    <div class="block_body-inner">
                        <div class="block-inner-group">
                            <div class="toggle-group">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="visual-encoding-switch{{ modal_index }}" checked>
                                    <label class="onoffswitch-label" for="visual-encoding-switch{{ modal_index }}">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                <div class="toggle-label" id="visual-encoding-switch-label{{ modal_index }}"> Graph encoding </div>
                            </div>
                        </div>
                        <div class="block-inner-group">
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" id="hgraph-labels{{ modal_index }}" class="customCheckBox">
                                    </div>
                                    <div class="col-10">
                                        <label>Show <a class="group-title">labels</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" id="hide-hyperedge-node{{ modal_index }}" class="customCheckBox">
                                    </div>
                                    <div class="col-10">
                                        <label>Hide hyperedge nodes</label>
                                    </div>
                                </div>
                        </div>

                        <div class="block-inner-group">
                            <div class="group-title">Hypergraph visualization</div>
                            <div class="row" style="padding-top: 5px;">
                                <div class="col-6" style="padding-right: 0px; border-right:dotted 2px rgb(224,224,224);">
                                    <form id="visual-encoding-form{{ modal_index }}">
                                        <div class="radio-container row">
                                            <div class="col-2">
                                                <input type="radio" class="form-radio inline" name="visual-type" value="bipartite" id="bipartite{{ modal_index }}">
                                            </div>
                                            <div class="col-9">
                                                <label for="bipartite{{ modal_index }}" class="radio_label">
                                                    Bipartite graph
                                                </label>
                                            </div>
                                        </div>
                                        <div class="radio-container row">
                                            <div class="col-2">
                                                <input type="radio" class="form-radio inline" name="visual-type" value="convex" id="convex{{ modal_index }}" checked="checked">
                                            </div>
                                            <div class="col-9">
                                                <label for="convex{{ modal_index }}" class="radio_label">Convex hulls</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6" style=" padding-left: 5px; padding-right: 2px;">
                                    <div class="row">
                                        <div class="col-1" >
                                            <input type="checkbox" id="hyperedge-glyph{{ modal_index }}" class="customCheckBox" checked="true">
                                        </div>
                                        <div class="col-9" style="padding-left: 10px;">
                                            <label>Hyperedge glyph</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1" >
                                            <input type="checkbox" id="vertex-glyph{{ modal_index }}" class="customCheckBox">
                                        </div>
                                        <div class="col-9" style="padding-left: 10px;">
                                            <label>Vertex glyph</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-inner-group" style="border-bottom: none;">
                            <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="revert_graph{{ modal_index }}" value="Revert Graphs" style="height:20px;">
                        </div>
                    </div>
                </div>
            </div>
            <div id="parameter-control{{ modal_index }}" class="block">
                <div class="block_title">Parameter Control</div>
                <div class="block_body" style="max-height: 1000px">
                    <div class="block_body-inner">
                        <div class="block-inner-group">
                            <div class="row">
                                <div class="col-1">
                                    <input type="checkbox" id="collapse-input{{ modal_index }}" class="customCheckBox" checked="true">
                                </div>
                                <div class="col-10">
                                    <!-- Input graphs -->
                                    <a class="group-title">Collapse</a> vertices & hyperedges
                                </div>
                            </div>
                        </div>
                        <div class="block-inner-group">
                            <div class="group-title">Graph representation</div>
                            <form id="variant-type-form{{ modal_index }}">
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="variant-type" value="line_graph" id="line_graph{{ modal_index }}" checked="checked">
                                    <label for="line_graph{{ modal_index }}" class="radio_label">Edge simplification</label>
                                </div>
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="variant-type" value="clique_expansion" id="clique_expansion{{ modal_index }}">
                                    <label for="clique_expansion{{ modal_index }}" class="radio_label">Vertex simplification</label>
                                </div>
                            </form>
                        </div>
                        <div class="block-inner-group">
                            <div class="group-title" id="s-group-title{{ modal_index }}">
                                Edge threshold
                            </div>
                            <div class="ui-form-range">
                                <label class="ui-form-range__label">s</label>
                                <span class="ui-form-range__value" id="s-walk_label{{ modal_index }}">1</span>
                                <div id="s-range-container{{ modal_index }}">
                                    <div id="s-range-container-inner{{ modal_index }}" style="padding:0px;">
                                      <span id="s-range-span{{ modal_index }}"><input type="number" id="s-range{{ modal_index }}" min="1" value="10"></span>
                                    </div>
                                </div>
                                <input class="ui-form-range__input" id="s-walk_input{{ modal_index }}" name="s-walk" type="range" value="1" max="10" min="1" step="1">
                            </div>
                            <br>
                            <form id="singleton-type-form{{ modal_index }}">
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="singleton-type" value="grey_out" id="grey_out{{ modal_index }}" checked="checked">
                                    <label for="grey_out{{ modal_index }}" class="radio_label">Grey out singletons</label>
                                </div>
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="singleton-type" value="filtering" id="filtering{{ modal_index }}">
                                    <label for="filtering{{ modal_index }}" class="radio_label">Filter singletons</label>
                                </div>
                            </form>
                        </div>
                        <div class="block-inner-group" >
                            <div class="group-title">Weight type</div>
                            <form id="weight-type-form{{ modal_index }}">
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="weight-type" value="jaccard_index" id="jaccard_index{{ modal_index }}" checked="checked">
                                    <label for="jaccard_index{{ modal_index }}" class="radio_label">Jaccard index</label>
                                </div>
                                <div class="radio-container">
                                    <input type="radio" class="form-radio" name="weight-type" value="intersection_size" id="intersection_size{{ modal_index }}">
                                    <label for="weight{{ modal_index }}" class="radio_label">Overlap size</label>
                                </div>
                            </form>
                        </div>
                        <div class="button-container">
                            <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="graph_loader{{ modal_index }}" value="Compute Barcode">
                            <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="reset_config{{ modal_index }}" value="Reset Configuration">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
