<div id="modality-container{{ modalindex }}" class="container-fluid">
  <div class="row">
    <div id="barcode-area{{ modalindex }}" class="col-sm-2 barcode-container">
      <div class="group-title">Barcode</div>
      <div id="barcode-threshold{{ modalindex }}">
        Current threshold: 0
      </div>
      <div id="vis-barcode{{ modalindex }}" class="svg-container" style="overflow: scroll">
        <svg id="barcode-svg{{ modalindex }}"></svg>
      </div>
      <div class="help-tip" id="help-tip{{ modalindex }}">
        <h6>Selected Hyperedges</h6>
      </div>
    </div>
    <div id="vis-area{{ modalindex }}" class="col-sm-8" style="padding-bottom:3px;">
      <div class="row">
        <div class="col-md-6 outline">
          <div class="graph-title">Input hypergraph</div>
          <div style="border-right: 1px solid rgb(224,224,224);">
            <div id='vis-hypergraph{{ modalindex }}' class="graph-container">
              <svg id="hypergraph-svg{{ modalindex }}"></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6 outline">
          <div class="graph-title" id="vis-linegraph-title{{ modalindex }}">Line graph</div>
          <div id='vis-linegraph{{ modalindex }}' class="graph-container">
            <svg id="linegraph-svg{{ modalindex }}"></svg>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 outline">
          <div class="graph-title">Output simplified hypergraph</div>
          <div style="border-right: 1px solid rgb(224,224,224);">
            <div id='vis-simplified-hypergraph{{ modalindex }}' class="graph-container">
              <svg id="simplified-hypergraph-svg{{ modalindex }}"></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6 outline">
          <div class="graph-title" id="vis-simplified-linegraph-title{{ modalindex }}">Simplified line graph</div>
          <div id='vis-simplified-linegraph{{ modalindex }}' class="graph-container">
            <svg id="simplified-linegraph-svg{{ modalindex }}"></svg>
          </div>
        </div>
      </div>
    </div>
    <div id="control-area{{ modalindex }}" class="col-sm-2 control-container">
      <div id="visual-encoding-control{{ modalindex }}" class="block" style="margin-bottom: 10px;">
        <div class="block_title">Visual Encoding Control</div>
        <div class="block_body" style="max-height: 1000px">
          <div class="block_body-inner">
            <div class="block-inner-group">
              <div class="row">
                <div class="col-1">
                  <input type="checkbox" id="hgraph-labels{{ modalindex }}" class="customCheckBox">
                </div>
                <div class="col-10">
                  <label>Show <a class="group-title">labels</a></label>
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <input type="checkbox" id="hide-hyperedge-node{{ modalindex }}" class="customCheckBox">
                </div>
                <div class="col-10">
                  <label>Hide hyperedge nodes</label>
                </div>
              </div>
            </div>
            <div class="block-inner-group">
              <div class="group-title">Hypergraph visualization</div>
              <div class="row" style="padding-top: 5px;">
                <div class="col-6" style="padding-right: 0px; border-right:dotted 2px rgb(224,224,224);">
                  <form id="visual-encoding-form{{ modalindex }}">
                    <div class="radio-container row">
                      <div class="col-2">
                        <input type="radio" class="form-radio inline" name="visual-type" value="bipartite" id="bipartite{{ modalindex }}">
                      </div>
                      <div class="col-9">
                        <label for="bipartite{{ modalindex }}" class="radio_label">
                          Bipartite graph
                        </label>
                      </div>
                    </div>
                    <div class="radio-container row">
                      <div class="col-2">
                        <input type="radio" class="form-radio inline" name="visual-type" value="convex" id="convex{{ modalindex }}" checked="checked">
                      </div>
                      <div class="col-9">
                        <label for="convex" class="radio_label">Convex hulls</label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-6" style=" padding-left: 5px; padding-right: 2px;">
                  <div class="row">
                    <div class="col-1">
                      <input type="checkbox" id="hyperedge-glyph{{ modalindex }}" class="customCheckBox" checked="true">
                    </div>
                    <div class="col-9" style="padding-left: 10px;">
                      <label>Hyperedge glyph</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-1">
                      <input type="checkbox" id="vertex-glyph{{ modalindex }}" class="customCheckBox">
                    </div>
                    <div class="col-9" style="padding-left: 10px;">
                      <label>Vertex glyph</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="block-inner-group" style="border-bottom: none;">
              <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="revert_graph{{ modalindex }}" value="Revert Graphs" style="height:20px;">
            </div>
          </div>
        </div>
      </div>
      <div id="parameter-control{{ modalindex }}" class="block">
        <div class="block_title">Parameter Control</div>
        <div class="block_body" style="max-height: 1000px">
          <div class="block_body-inner">
            <div class="block-inner-group">
              <!-- <div class="group-title">Collapse vertices & hyperedges</div> -->
              <div class="row">
                <div class="col-1">
                  <input type="checkbox" id="collapse-input{{ modalindex }}" class="customCheckBox" checked="true">
                </div>
                <div class="col-10">
                  <!-- Input graphs -->
                  <a class="group-title">Collapse</a> vertices & hyperedges
                </div>
              </div>
              <!-- <div class="row">
                  <div class="col-1">
                      <input type="checkbox" id="collapse-output" checked="true">
                  </div>
                  <div class="col-10">
                      Output graphs
                  </div>
              </div> -->
            </div>
            <div class="block-inner-group">
              <div class="group-title">Graph representation</div>
              <form id="variant-type-form{{ modalindex }}">
                <div class="radio-container">
                  <input type="radio" class="form-radio" name="variant-type" value="line_graph" id="line_graph{{ modalindex }}" checked="checked">
                  <label for="line_graph" class="radio_label">Edge simplification</label>
                </div>
                <div class="radio-container">
                  <input type="radio" class="form-radio" name="variant-type" value="clique_expansion" id="clique_expansion{{ modalindex }}">
                  <label for="clique_expansion" class="radio_label">Vertex simplification</label>
                </div>
              </form>
            </div>
            <div class="block-inner-group">
              <div class="group-title" id="s-group-title{{ modalindex }}">
                Edge threshold
              </div>
              <div class="ui-form-range">
                <label class="ui-form-range__label">s</label>
                <span class="ui-form-range__value" id="s-walk_label{{ modalindex }}">1</span>
                <div id="s-range-container{{ modalindex }}">
                  <div id="s-range-container-inner{{ modalindex }}" style="padding:0px;">
                    <span id="s-range-span{{ modalindex }}"><input type="number" id="s-range{{ modalindex }}" min="1" value="10"></span>
                  </div>
                </div>
                <input class="ui-form-range__input" id="s-walk_input{{ modalindex }}" name="s-walk" type="range" value="1" max="10" min="1" step="1">
              </div>
              <br>
              <form id="singleton-type-form{{ modalindex }}">
                <div class="radio-container">
                  <input type="radio" class="form-radio" name="singleton-type" value="grey_out" id="grey_out{{ modalindex }}" checked="checked">
                  <label for="grey_out" class="radio_label">Grey out singletons</label>
                </div>
                <div class="radio-container">
                  <input type="radio" class="form-radio" name="singleton-type" value="filtering" id="filtering{{ modalindex }}">
                  <label for="filtering" class="radio_label">Filter singletons</label>
                </div>
              </form>
            </div>
            <div class="block-inner-group">
              <div class="group-title">Weight type</div>
              <form id="weight-type-form{{ modalindex }}">
                <div class="radio-container">
                  <input type="radio" class="form-radio" name="weight-type" value="jaccard_index" id="jaccard_index{{ modalindex }}" checked="checked">
                  <label for="jaccard_index" class="radio_label">Jaccard index</label>
                </div>
                <div class="radio-container">
                  <input type="radio" class="form-radio" name="weight-type" value="intersection_size" id="intersection_size{{ modalindex }}">
                  <label for="weight" class="radio_label">Overlap size</label>
                </div>
              </form>
            </div>
            <div class="button-container">
              <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="graph_loader{{ modalindex }}" value="Compute Barcode">
              <input type="button" class="btn btn-outline-dark btn-block ui-form-button" id="reset_config{{ modalindex }}" value="Reset Configuration">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
